.cart-container,
.titles-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
.cart-container > img {
	height: 100px;
	width: 100px;
}

.pointer {
	cursor: pointer;
}
.btn-continue {
	font-size: 20px;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
